[push]
	default = simple
[credential]
	helper = osxkeychain
[protocol]
	version = 2
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[include]
        path = ~/code/gnawhleinad/dot/.gitconfigs/gnawhleinad

[includeIf "gitdir:~/code/dangerdevices/"]
        path = ~/code/gnawhleinad/dot/.gitconfigs/dangerdevices
[pull]
	rebase = false
