[push]
	default = simple
[pull]
	rebase = false
[credential]
	helper = osxkeychain
[protocol]
	version = 2
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[include]
        path = ~/code/gnawhleinad/dot/osx/.gitconfigs/gnawhleinad
[includeIf "gitdir:~/code/chwayatyun/"]
        path = ~/code/gnawhleinad/dot/osx/.gitconfigs/chwayatyun
[includeIf "gitdir:~/code/dangerdevices/"]
        path = ~/code/gnawhleinad/dot/osx/.gitconfigs/dangerdevices
[includeIf "gitdir:~/code/dd-experiment-626/"]
        path = ~/code/gnawhleinad/dot/osx/.gitconfigs/dangerdevices
[core]
	autocrlf = input
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = ~/code/gnawhleinad/dot/.config/git/allowed_signers
